* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.debug {
  background-color: red;
  border: 1px solid cornflowerblue;
}

header {
  background-color: blue;
  height: 50px;
  /*da elimare*/
}

.jumbotron {
  background-color: red;
  height: 100px;
}

main {
  display: flex;
  background-color: orange;
  height: 600px;
  /*da elimare, ci va l'img*/
}

.box {
  border: 2px solid;
  background-color: green;
  width: 90%;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

main .primo {
  border: 2px solid;
  background-color: purple;
  height: 40px;
}

main .secondo {
  border: 2px solid;
  background-color: purple;
  height: 40px;
}